@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
    margin: 0;
    line-height: normal;
}
:root {
    --font-montserrat: Montserrat;
    --font-poppins: Poppins;
    --font-monofett: Monofett;
    --font-size-sm: 14px;
    --font-size-xl: 20px;
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-5xs: 8px;
    --font-size-15xl: 34px;
    --font-size-xs: 12px;
    --font-size-13xl: 32px;
    --font-size-5xl: 24px;
    --font-size-45xl: 64px;
    --color-darkgray: #a8a8a8;
    --primary: #9881b8;
    --dark: #1b0c2e;
    --color-gray-100: rgba(0, 0, 0, 0.2);
    --color-gray-200: rgba(27, 12, 46, 0.5);
    --main-white: #fff;
    --light: #f4f2f7;
    --color-slategray: #887f93;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #dcdcdc;
    --color-gainsboro-300: #dadada;
    --color-lavender: #eae6f1;
    --color-lightsteelblue: rgba(195, 212, 233, 0.4);
    --color-lightslategray: #8d8597;
    --color-silver-100: #c5c5c5;
    --color-silver-200: #bbb6c0;
    --color-indianred: #ca3e4d;
    --gap-xl: 20px;
    --gap-base: 16px;
    --gap-lgi: 19px;
    --gap-7xs: 6px;
    --padding-base: 16px;
    --padding-11xl: 30px;
    --br-3xs: 10px;
    --br-mini: 15px;
    --br-9xs: 4px;
    --br-xl: 20px;
}
html {
    font-size: 14px; /* Change this value to adjust the font size */
  }
  
  /* Optionally, you can set a max-width to limit the width of the content */
